@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Noto+Serif:ital,wght@1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-dark: #170312;
    --purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}


header {

    background-image: url(../images/bg-girl.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

img {
    height: auto;
    width: 100%;
}

.header-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--purple-light);
}

.header-text:hover {

    background-color: rgba(255, 255, 255, 0.3);
}

.header-text h1 {

    font-size: calc(2rem + 2vw);
    font-family: 'Noto Serif', serif;
}

.header-text .header-cite {
    font-size: calc(1.5rem + 1.5vw);
    font-family: 'Caveat', cursive;
    width: 60%;
}

.header-text .header-cite .quote {
    width: 2rem;
    height: auto;
}

.header-text .header-cite .signature {
    text-align: right;
}


.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: var(--purple-medium);
    font-family: 'Noto Serif', serif;
    z-index: 5;

}

.nav .nav-toggle {
    width: 2rem;
    height: auto;
    cursor: pointer;
    display: none;

}


.nav .nav-menu {
    display: flex;
    list-style: none;
}

.nav .nav-menu .link {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: calc(0.6rem + 0.6vw);
    color: var(--gray-light);
    transition: .5s ease all;
}

.nav .nav-menu .link:hover {
    transform: translateY(40%);
    background-color: var(--purple-light);
}


@media (max-width: 800px) {



    .header-image .header-text .header-cite {
        width: 80%;
    }

    .nav {
        flex-direction: column;


    }

    .nav .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 4.3rem;
        background-color: var(--purple-medium);
        font-family: 'Noto Serif', serif;
        width: 100%;
        right: 100%;
        transition: right 0.5s;
    }

    .nav .nav-toggle {

        display: block;
        width: 2rem;
        height: auto;
        margin: 1rem 2rem;

    }

    .nav .nav-menu .link {

        font-size: calc(0.8rem + 0.8vw);
        color: var(--gray-light);
        transition: .5s ease all;
    }

    .nav .nav-menu .link:hover {
        transform: translateX(40%);
        background-color: var(--purple-light);

    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .about {
        margin-top: 5rem;
    }
}